[submodule "velodyne_simulator"]
	path = velodyne_simulator
	url = https://github.com/SuperSecureHuman/velodyne_simulator.git
	branch = humble-dev
 [submodule "LIO-SAM"]
 	path = LIO-SAM
 	url = https://github.com/TixiaoShan/LIO-SAM.git
 	branch = ros2
 [submodule "slam_gmapping"]
 	path = slam_gmapping
 	url = https://github.com/charlielito/slam_gmapping.git
 	branch = feature/namespace_launch