<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="camera_joint" type="fixed">
        <origin xyz="0.405 0 0.1" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="camera_frame"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <link name="camera_frame">
        <visual>
            <geometry>
                <box size="0.01 0.1 0.1"/>
            </geometry>
            <material name="box_cam">
                <color rgba="1.0 0.0 0.0 1.0"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <box size="0.01 0.03 0.03"/>
            </geometry>
        </collision>

    </link>

    <joint name="camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-pi/2} 0.0 ${-pi/2}"/>
        <parent link="camera_frame"/>
        <child link="camera_frame_optical"/>
    </joint>

    <link name="camera_frame_optical">
    </link>


    <gazebo reference="camera_frame">

        <sensor name = "camera" type = "camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>                <!-- put actual cam zoom -->
                <image>
                    <width>640</width>
                    <height>200</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>10</far>
                </clip>
            </camera>

            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_frame_optical</frame_name>
            </plugin>

        </sensor>
    </gazebo>
</robot>